[Unit]
  Description=SlixXMPP service bot
  After=network.target ejabberd.service

[Service]
  Type=simple
  ExecStart=/usr/local/share/xmpp-chatbot/runbot
  Restart=on-failure
  RestartSec=60s
  User=xmppbot
  Group=xmppbot

[Install]
  WantedBy=multi-user.target
